@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
}

.nav-link:hover {
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: red;
}

.nav-menu {
  display: flex;
  flex-direction: r;
}

.nav-logo {
  height: 40px;
  width: 40px;
  margin: 5px;
}

@media only screen and (max-width: 810px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #e9c46a;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .header {
    height: 50px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    margin-top: 5px;
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }
  .revHead {
    margin-top: 90px;
  }
  .nav-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 45%;
  }

  .header {
    flex-direction: row-reverse;
  }
}

/* Para */

.revHead {
  margin-top: 90px;
}
