@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  transition: background-color 0.5s;
  margin: 0;
  overflow-x: hidden;
}

.nav-link{
  font-size: 18px;
  font-weight: bold;
  color: black;

}
.nav-link :hover{
  opacity: 0.5;
}

/* Para */

.revHead {
  margin-top: 90px;
}

.video-container {
  width: 100vw;
  height: 100vh;
}

.video-container video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


.testimonials {
  text-align: center;
  margin-top: 50px;
  z-index: -1;
}

h2 {
  border-bottom: 5px solid #ffec9f;
  display: inline;
}

/* Start of Card Section */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  margin-top: 65px;
  row-gap: 100px;
}


.card {
  width: 1000px;
  height: 800px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 2px rgba(156, 46, 46, 0.15);
  margin-bottom: 10px;
  z-index: -1;
  margin-top: -40px;
}
.card .shadow{
  position: absolute;
  bottom: 143px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.card .first{
  position: absolute;
  bottom: 143px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 390px;
    height: 500px;
  }
  .video-container{
    width: 390px;
  }
  .card .shadow{
    position: absolute;
    bottom: 19%;
  }

  .card .first{
    position: absolute;
    bottom: 17%;
  }
  .card > img {
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
  }
  .card > p {
    padding-left: 20px;
    text-align: center;
  }
  
  .card > h4 {
    text-align: center;
  }

}


.card > img {
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
}
.card > p {
  padding-left: 20px;
  text-align: center;
}

.card > h4 {
  text-align: center;
}


/* End of Card Section */

/* Start of Footer */
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: black;
  box-shadow: 0px 0px 7px 2px rgba(71, 68, 68, 0.1);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.5;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: black;
  margin-bottom: 0;
}