@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {

  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color:  #2f2f2f !important;
}
.navbar{
  background-color: white !important;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-nav > li{
  margin-right: 1rem;

}
.navbar-toggler{
  margin-right : 1em;
}

/* begining of services Homepage content */

#carouselExampleDark {
  margin: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 10px rgba(244, 185, 64, .5);
}

.detail{
  position: absolute;
  top: 82%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 98vw;
  padding: 1em;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 10px 10px 10px 10px;
  }
  #img{
    border-radius: 10px 10px 10px 10px;
  }
  
  .detail h1 {
  text-align: center;
  font-size: 3vw;
  }
  .detail p{
    font-size: 1.5vw;
    height: 10vh;
  }
  
  #revContainer{
    margin: 8rem;
    text-align: center;
    font-size: 2vw;
    padding: 2em;
    height: 4vh;
    color: white;
  } 
  
  @media only screen and (max-width: 767px) {
  .detail{
    position: relative;
    left: 50%;
    color: white;
    width: 98vw;
    padding: 1em;
    color: white;
    background: none;
    border-radius: 10px 10px 10px 10px;
    margin-top: 8rem;
  }
  .detail h1 {
    text-align: center;
    font-size: 5vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    .detail p{
      font-size: 3vw;
    }

  #revContainer{
    text-align: center;
    font-size: 4vw;
    margin: 2rem;
    padding: 2em;
    height: 20vh;
  }
  
}

.btn-secondary{
  margin-top: 1vh;
  color: black !important;
  background-color: rgb(244, 185, 64, .5) !important;
  margin-bottom: 50px;
}

/* Start of Footer */
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: black;
  box-shadow: 0px 0px 7px 2px rgba(71, 68, 68, 0.1);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.5;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: black;
  margin-bottom: 0;
}
